.game-board {
  border-style: solid;
  border-color: black;
  border-width: 10px; 
  table-layout: auto;
  width: 600px;
  height: 200px;
}

.game-row {
  border-style: solid;
  border-color: black;
  border-width: 10px; 
  width: 200px;
  height: 100px;
}


.square {
  height: 50px;
  width: 50px;
  background-color: green;
}